body   {
    background-color: #162831;
    font-family: 'El Messiri', sans-serif;

    box-sizing: border-box;
}

*   {
    color: #fff;
    box-sizing: border-box;

    scroll-behavior: smooth;

    padding: 0;
    margin: 0;
}

.container  {
    width: 1080px;
    height: 100%;

    margin: 0 auto;
}

span:first-child    {
    margin-right: 45px;
}

span:last-child {
    margin-left: 45px;
}