.header {
    width: 100%;
}

.header__inner {
    padding-top: 50px;

    display: flex;
    justify-content: space-between;

    align-items: center;
}
.logo {
}
.nav {
    font-size: 14px;

    height: 100%;
    align-items: center;
}
.nav__link {
    text-decoration: none;

    font-weight: 400;
    line-height: 135%;

    margin-left: 50px;

}

.nav__link:first-child  {
    margin-left: 0;
}

.header__btn {
    text-align: center;

    padding: 9px 15px;

    background: #018ABE;
    border: 1px solid #018ABE;
    border-radius: 3px;

    color: #fff;

    cursor: pointer;
}