.content-second {
    padding-top: 70px;

    width: 100%;
    height: 492px;

    text-align: center;

    font-family: 'El Messiri', sans-serif;
}

.content-second__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 492px;
}
.content-second__img {
    position: relative;

    width: 100%;
    height: 492px;

    background: url('../images/second-block__bg.svg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-second__title {
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    
    text-align: center;
}

.content-second__title  span:first-child    {
    padding-right: 66px;
}

.content-second__title  span:last-child    {
    padding-left: 66px;
}

.content__second__text {
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;

    text-align: center;
}